.header1{
    width: 70%;
    margin: 20px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Tecktalk{
    font-size: 30px;
}
.Dangki{
    border: 1px solid black;
    padding: 10px;
}
.header1 a{
    text-decoration: none;
    color: black;
}
hr{
    width: 70%;
    margin-left: 15%;
}
.menu{
    width: 35%;
    margin-left: 15%;
}

.menu a{
    text-decoration: none;
    color: rgb(128, 123, 123);
    font-size: 15px;
    margin-right: 20px;
}
.banner img{
    width: 70%;
    height: 300px;
    margin: 5px 15%;
}
.content{
    width: 70%;
    margin:20px 15%;
}
.content #content2{
    margin-top: 60px;
}
.content img{
    width: 200px;
    height: 200px;
    float: right;
}
.content .container .row .col{
    border: 1px solid gray;
    margin: 5px;
}
.content .container .row .col-lg-4 .img1{
    width: 300px;
    height: 280px;
}
.footer{
    width: 70%;
    height: 100px;
    margin: 20px 15%;
    background-color: lightslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}